<!DOCTYPE html>
 <html>
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="black" name="apple-mobile-web-app-status-bar-style">
        <meta content="telephone=no" name="format-detection">
        <meta content="email=no" name="format-detection">
        <title>标题</title>
        <link rel="shortcut icon" href="/favicon.ico">
        <link rel="stylesheet", type="text/css", href="static/index.css">
    </head>
    <body>
        <div id="app">
          <div class="content">
            <div class="lists">
                    <a class="item" href="#">
                        <img src="http://d6.yihaodianimg.com/N02/M0B/81/5A/CgQCsVMhX_mAAvXsAAJDE3K2zh485900_80x80.jpg" alt="">
                        <h3>1文字描述文字描述</h3>
                        <span class="date">2014-14-14</span>
                    </a>
                    <a class="item" href="#">
                        <img src="http://d6.yihaodianimg.com/N02/M0B/81/5A/CgQCsVMhX_mAAvXsAAJDE3K2zh485900_80x80.jpg" alt="">
                        <h3>2文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述</h3>
                        <span class="date">2014-14-14</span>
                    </a>
                    <a class="item" href="#">
                        <img src="http://d6.yihaodianimg.com/N02/M0B/81/5A/CgQCsVMhX_mAAvXsAAJDE3K2zh485900_80x80.jpg" alt="">
                        <h3>3文字描述文字描述文字描述文字描述文字描述</h3>
                        <span class="date">2014-14-14</span>
                    </a>
                    <a class="item" href="#">
                        <img src="http://d6.yihaodianimg.com/N02/M0B/81/5A/CgQCsVMhX_mAAvXsAAJDE3K2zh485900_80x80.jpg" alt="">
                        <h3>4文字描述文字描述文字描述文字描述文字描述</h3>
                        <span class="date">2014-14-14</span>
                    </a>
                    <a class="item" href="#">
                        <img src="http://d6.yihaodianimg.com/N02/M0B/81/5A/CgQCsVMhX_mAAvXsAAJDE3K2zh485900_80x80.jpg" alt="">
                        <h3>5文字描述文字描述文字描述文字描述文字描述</h3>
                        <span class="date">2014-14-14</span>
                    </a>
                    <a class="item" href="#">
                        <img src="http://d6.yihaodianimg.com/N02/M0B/81/5A/CgQCsVMhX_mAAvXsAAJDE3K2zh485900_80x80.jpg" alt="">
                        <h3>6文字描述文字描述文字描述文字描述文字描述</h3>
                        <span class="date">2014-14-14</span>
                    </a>
                    <a class="item" href="#">
                        <img src="http://d6.yihaodianimg.com/N02/M0B/81/5A/CgQCsVMhX_mAAvXsAAJDE3K2zh485900_80x80.jpg" alt="">
                        <h3>7文字描述文字描述文字描述文字描述文字描述</h3>
                        <span class="date">2014-14-14</span>
                    </a>
                    <a class="item" href="#">
                        <img src="http://d6.yihaodianimg.com/N02/M0B/81/5A/CgQCsVMhX_mAAvXsAAJDE3K2zh485900_80x80.jpg" alt="">
                        <h3>8文字描述文字描述文字描述文字描述文字描述</h3>
                        <span class="date">2014-14-14</span>
                    </a>
                    <a class="item" href="#">
                        <img src="http://d6.yihaodianimg.com/N02/M0B/81/5A/CgQCsVMhX_mAAvXsAAJDE3K2zh485900_80x80.jpg" alt="">
                        <h3>9文字描述文字描述文字描述文字描述文字描述</h3>
                        <span class="date">2014-14-14</span>
                    </a>
                    <a class="item" href="#">
                        <img src="http://d6.yihaodianimg.com/N02/M0B/81/5A/CgQCsVMhX_mAAvXsAAJDE3K2zh485900_80x80.jpg" alt="">
                        <h3>10文字描述文字描述文字描述文字描述文字描述</h3>
                        <span class="date">2014-14-14</span>
                    </a>
                    <a class="item" href="#">
                        <img src="http://d6.yihaodianimg.com/N02/M0B/81/5A/CgQCsVMhX_mAAvXsAAJDE3K2zh485900_80x80.jpg" alt="">
                        <h3>9文字描述文字描述文字描述文字描述文字描述</h3>
                        <span class="date">2014-14-14</span>
                    </a>
                    <a class="item" href="#">
                        <img src="http://d6.yihaodianimg.com/N02/M0B/81/5A/CgQCsVMhX_mAAvXsAAJDE3K2zh485900_80x80.jpg" alt="">
                        <h3>10文字描述文字描述文字描述文字描述文字描述</h3>
                        <span class="date">2014-14-14</span>
                    </a>
            </div>
          </div>
        </div>
        <script src="static/common/react.min.js"></script>
        <script src="static/common/react-dom.min.js"></script>
        <script src="static/common/zepto.js"></script>
        <script src="static/components/refresh-loadMore.js"></script>
        <script src="static/bundle.js"></script>
    </body>
</html>
